.root {
    -fx-background-color: #13325a;
}

.titulo {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-family: Poppins Regular;
}

.texto {
    -fx-fill: black;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 20px;
}

.card {
    -fx-background-color: #fbfbfb;
    -fx-padding: 15;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-max-width: 300px;
    -fx-max-height: 850px;
}

.boton, .botonVolver {
    -fx-background-color: #d60d0d;
    -fx-text-fill: white;

    -fx-font-family: "Poppins Regular";


    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-border-color: black;
    -fx-border-width: 2px;

    -fx-padding: 0 15 0 15;
    -fx-alignment: center;

    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.boton {
    -fx-pref-height: 70px;
    -fx-pref-width: 180px;
    -fx-font-size: 30px;
}

.botonVolver {
    -fx-pref-height: 45px;
    -fx-pref-width: 150px;
    -fx-font-size: 20px;
}

.boton:hover, .botonVolver:hover {
    -fx-background-color: #cb4141;

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
